.window{
    overflow-y: auto;
    margin-top: 10px;
}

.empty{
    display: flex;
    font-size: larger;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem
}
